button {
    background-color: #e8f8ff;
}

.cardpage-title {
    display: flex;
    justify-content: center;
    padding: 6rem 1rem;
}

.card-section {
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
    filter: drop-shadow(0px 10px 10px rgba(111, 147, 170, 0.25));
}
.card-wrapper {
    width: 80%;
    height:650px;
    background: #d1f3ff;
    border-radius: 25px;
    max-width: 680px;
    margin: 2rem;

}
.card-title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    
}

.question-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
}
.question-image {
    width: 100%;
    margin-bottom: 20px;
}
.question-buttons {
    display: flex;
    justify-content:space-evenly;
    
 
}
.question-buttons button {
    margin: 5px;

}

.answer-text {
    font-weight: 500;
    margin: 1rem;
    padding: 1rem;
}
.answer-buttons {
    margin: 0 0 0 20px;
}

.ending-text {

    margin: 3rem;
    text-align: center;

}
.ending-buttons {
    margin: 0 0 0 20px;
    text-align: center;
}

.large-font {
    font-size: 35px;
}

.next-button {
    text-align: center;
}

#flow-container {
    position: absolute;
    right: 0;
    top: 30vh;
    width: 90%;
}
#flow-img { 
    position: relative;
    right: -17%;
    top: auto;
    padding: 1rem 0;
    min-width: 250px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    max-width: 500px;

}

#sources {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    max-width: 680px;
    padding: 10px;
}

.Collapsible {
    background-color: #e8f8ff;
    border-radius: 25px;
    text-align: left;
    justify-content: center;
    padding: 0rem;
    filter: drop-shadow(0px 10px 12px rgba(111, 147, 170, 0.25));
}

#sources button {
    width: 100%;
    background-color: #d1f3ff;
    filter: none;
    
}


#sources p {
    font-size: 14px;
    padding: 1rem;
}


@media screen and (max-width: 600px) {
    .card-wrapper {
        height: 480px;
        margin: 0.5rem;
    }

    .question-text {
        font-size: 14px;
        padding: 0.5rem;
    }

    .answer-text {
        font-size: 14px;
        padding: 0.4rem;
    }

    .question-buttons {
        margin: 0.2rem;
    }
    
    .answer-buttons {
        margin: 0;
    }

    .ending-buttons {
        margin: 0;
    }

    button {
        font-size: 16px;
        margin: 0;
    }

    .next-button {
        margin: 0;
    }

}