.footer-container {
    margin-top: 100px;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
}
.about-text {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}
.footer-wrapper {
    background-color: #bce2f5;
    width: auto;
    padding: 5px 0;
    
    
    
}
.footer-title {
    color: #803e65;
    margin: 0;
    padding-top: 10px;
}
.footer-wrapper ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.nav-links {
    color: #000;
}
.copyright {
    text-align: center;
    padding-top: 20px;
}

