
#flow-img { 
    position: relative;
    right: -17%;
    top: auto;
    padding: 1rem 0;
    min-width: 250px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    max-width: 500px;

}



p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    float: left;
    padding: 0 2rem;

    
}

#left-box {
    width: 45%;
    padding: 2rem  0 2rem 2rem;


 
}

#right-box {
    width: 45%;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: flex-end;
    flex-direction: right;
}


header {

    padding: 6rem 4rem;
}

#cover-img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 50%;
    min-width: 300px;
  }

#animation {
    color: #CD64A3;
    font-size: 28px;
    font-weight: 600;
    height: 35px;

}

#video {
    display: flex;
    justify-content: center;
    background: black;
    
}

#text {

    width: 60%;
    float: right;
    background: #d1f3ff;
    border-radius:  30px 0 0 30px;
    filter: drop-shadow(0px 3px 12px rgba(129, 127, 127, 0.25));
}

.button-link {
    width: 100%;
}


@media (max-width: 700px) {
    #left-box {
        width: 85%;
    }

    #right-box {
        width: 90%;
        flex-direction: column;
    }

    .flex-container {
        width: 90%;
        padding: 2rem;
    }

    #flow-img {
        width: 60%;
    }

    #text {
        width: auto;
        float: left;
        padding-right: 0;
        margin: 2rem 0;
        border-radius: 0;
        

    }

    #animation {
        height: 100px;
        color: #a3487f;
 
    }

    header {
        padding: 3rem 2rem;
    }


}