.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 16px;

}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px 0 20px;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    list-style: none;
    justify-content: center;
}
.nav-menu-active {
    display: grid;
    grid-template-columns: repeat(1, auto);
    list-style: none;
    justify-content: center;
    padding: 0px;
    order: 1;
}
.menu-icon {
    color: #803e65;
    display: none;
    order: 2;
}
.nav-links {
    color: #803e65;
    text-decoration: none;
    transition: 0.2s;
}

.lila {
    color: #803e65;
    transition: 0.2s all
}

.lila:hover {
    color: #CD64A3;
    ;
}

.navbar-logo, .navbar-logo-active {
    color: #803e65;
    text-decoration: none;
}
.navbar-logo-active {
    display: none;
}

@media screen and (max-width: 960px) {
    .menu-icon {
        display: flex;
        justify-self: flex-end;
    }
    .nav-menu {
        display: none;
    }
}

