.video-js {
    display: block;
    object-fit: contain;
    max-width: 100%;
}
.video-app {
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (max-width: 840px) {
    .video-app {
        width: 85vw;
    }
}