
body {
    font-family: 'Raleway', 'Arial';
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(180deg, #c9dfeb 0%, #BCE2F5 5%, #B1DAE7 61.98%, #A4D6ED 100%);  
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Lekton';
    letter-spacing: 0.04em;
    font-weight: 600;
}


h2 {
    font-family: 'Lekton';
    letter-spacing: 0.07em;
}

h3 {
    font-family: 'Lekton';
    letter-spacing: 2px;
    font-size: 20px;
} 

.monospace {
    font-family: 'Lekton' 'monospace';
    letter-spacing: 2px;
    font-size: 20px;
}

button {
    width: 230px;
    height: 46px;
    border-radius: 30px;
    font-family: 'Lekton';
    font-size: 22px;
    font-weight: 600;
    border: none;
    background-color: #D1F3FF;
    filter: drop-shadow(0px 3px 12px rgba(129, 127, 127, 0.25));
    transition: 0.2s;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

